target
jars
src/test/resources/testEnvironments/**/*.class
src/test/resources/testEnvironments/**/*.tar.gz
src/test/resources/testEnvironments/fitnessAssignment
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/shelf
src/test/resources/testEnvironments/*/output/**/*
**/.idea/solarlint
**/.idea/inspectionProfiles
**/.idea/aws.xml
.DS_Store
