target
test/resources/testEnvironment/**/*.class
test/resources/testEnvironments/wine
jars
/test/resources/testEnvironments/problemSheet2
/test/resources/testEnvironments/problemSheet2/**/*
/test/resources/testEnvironments/fitnessAssignment/
